<h1><%= @club.name %>社</h1>

<%= simple_format(@club.description) %>

<h1>活動</h1>
<% @club.events.each do |event|%>
    <li><%=link_to event.name, club_event_path(event)%></li>
<%end%>


<%= link_to 'create', new_club_event_path(:club_id => @club.id) %>
<p><%= link_to 'Back to club index', :controller => 'clubs', :action => 'index' %></p>