<h3>
<%= link_to @admin_club.name, admin_club_path(@admin_club)%> 
>
<%=@admin_event.name%>
</h3>

<h2>
  社課名稱：<%= @admin_event.name%>（<%= @is_public_wording%>）
  <%= link_to "編輯", edit_admin_club_event_path(@admin_club, @admin_event), :class => "btn btn-success" %>
</h2>

<hr>

<h3>社課 banner</h3>
<div class="div" id="activity-banner">
  <% if @admin_event.banner.exists? %>
    <%= image_tag(@admin_event.banner.url(:original))%>
  <%else%>
      <h1 class = "text-center">
        <%= link_to "請新增 logo(小圖)", edit_admin_club_event_path(@admin_club, @admin_event), :class => "btn btn-success btn-lg " %>
      </h1>
  <%end%>
</div>
<hr>
<div class="row">
    <div class="col-md-9">
      <div class="row">
        <h4>目標人數： 
            <%= link_to "＋新增目標人數", root_path, :class => "btn btn-success" %>
        </h4>
        <h4>達成率：<%= 10%> % ,
        目標人數：<%= @admin_event.customers_target %>
        </h4>
      </div>
      <hr>

      <h1 class = "text-center">社課介紹</h1>
      <div class="section">
        <div class="editor">
          <%=raw @admin_event.description%>
        </div>
      </div>

      <hr>

      <h1 class = "text-center">社課資訊</h1>
      <div class="row section">
        <div class="editor">
          <div class="col-md-3">
            <h4>
              <i class="fa fa-clock-o"></i><br>
              開始時間：<br>
              <%if @admin_event.start_time%>
                <%= @admin_event.start_time.strftime('%F %R')%> 
              <%end%>
              <br>
              結束時間：<br>
              <%if @admin_event.end_time%>
                <%= @admin_event.end_time.strftime('%F %R')%>
              <%end%>
            </h4>
          </div>
        </div>
        
      </div>
      <hr>
    </div>
</div>

