<h1>社團列表 <%=link_to "+建立新社團", new_admin_club_path, :class => "btn btn-success"%></h1>
<table class="table">
  <tr>
    <td>社團名稱</td>
    <td>頁面呈現</td>
    <td>編輯</td>
    <td>刪除</td>
  </tr>
  <%@admin_clubs.each do |club|%>
    <tr>
      <td><%= link_to club.name, admin_club_path(club) %></td>
      <td><%= link_to "Show", admin_club_path(club), :class => "btn btn-primary"%></td>
      <td><%= link_to "Edit", edit_admin_club_path(club), :class => "btn btn-success" %></td>
      <td><%= link_to "Delete", admin_club_path(club), :method => :delete, :class => "btn btn-danger", :data => {:confirm => "are_you_sure" } %></td>
    </tr>
  <%end%>

</table>







